body, html{   
    background: radial-gradient(rgb(3, 205, 255), rgb(205, 239, 255)); 
    display: grid;
}  
form {
    box-shadow:  0 0  35px  #ffffff; 
    border: solid #daf0fa 5px;  
    width:21%;  
    border-radius: 45px;
    margin: 195px auto 160px; 
    background: #9ee0ff;  
    padding: 40px; 
    font-size: 20px;
}

h1 {
    font-family: Lucida Bright;
    position: absolute;
    top: 7%;
    left: 32%;
}

a {
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: #E8A317; 
}