
/* background gradient */
	body {
	background: rgb(69,173,255);
	background: linear-gradient(0deg, rgba(69,173,255,1) 0%, rgba(102,188,255,1) 30%, rgba(195,229,255,1) 66%, rgba(210,243,255,1) 100%);
}

#distanceFromLogo {
	padding-left: 550px;
}

/* rounded border for link */
#roundBorder {
  border-radius: 35px;
  border: 6px solid #bee3ff;
  padding: 0px; 
  width: 1400px;
  height: 70px;  
}

/* hidden border for text */
#hiddenBorder {
 	border-style: hidden;
  	height: 300px;
 	width: 1400px;
 	margin: 25px;
 	padding-top: 0px;
 	padding-left: 10px;
 	display: inline-block;
 	border-width: 5px;
 }

/* hidden border for list */
#hiddenBorderList {
 	border-style: hidden;
  	height: 300px;
 	width: 600px;
 	margin: 15px;
 	padding-top: 0px;
 	padding-left: 15px;
 	display: inline-block;
 	border-width: 5px;
 }

#imgANDheader {
	float: left;
}

div {
	text-align: center;
}

ul{
	text-align: left;
}

 table {
 	font-size: 330%;
 	
 }

 /* mouse over link */
a:hover {
  color: gold;
}

a:link {
  text-decoration: none;
}